/assets/*
!/assets/.gitkeep

pretrained

__pycache__/
*.pyc
debug_outputs/
videos/
visualize/
experiment_logs/
evaluation/Helios/checkpoints/
evaluation/Helios/videos/
evaluation/Raft/models/
prompts/vidprom_filtered_extended.txt

