/assets/*
!/assets/.gitkeep
!/assets/Forcing-KV.pdf
!/assets/teaser.png
!/assets/method.png
!/assets/teaser.png
!/assets/videos/
!/assets/videos/**
.idea/
.DS_Store
pretrained
__pycache__/
*.pyc
debug_outputs/
visualize/
v_headgroup/
experiment_logs/
evaluation/Helios/checkpoints/
evaluation/Helios/videos/
evaluation/Raft/models/
prompts/vidprom_filtered_extended.txt
/videos/
/videos_new/
/videos_final/
/videos_study/
draw/
*.pt
*.mp4
!/assets/videos/**/*.mp4
vbench.sh
vbench2.sh
